<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<body>
    <div layout:fragment="content" class="container">
        <!-- <form id="userForm" th:action="@{/users/(form)}" th:object="${userSignupRequest}" action="#" method="post">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
                <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
            </div>
            <input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'" />

            <label for="email">Email</label>
            <input type="email" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'field-error'" />

            <label for="password">Password</label>
            <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'field-error'" />

            <label for="passwordConfirmation">Password Confirmation</label>
            <input type="password" th:field="*{passwordConfirmation}" th:class="${#fields.hasErrors('passwordConfirmation')} ? 'field-error'" />

            <div class="form-actions">
                <input type="submit" value="Save" />
            </div>
        </form> -->

        <form id="userForm" th:action="@{/users/(form)}" th:object="${userSignupRequest}" action="#" method="post">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
                <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
            </div>
            <input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'" />


            <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" required
                th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')} ? 'field-error'"/>
              </div>
              <div class="form-group">
                  <label for="inputLastName">Last Name</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" required
                  th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')} ? 'field-error'"/>
                </div>

            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" required 
              th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'field-error'"/>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" required
              th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'field-error'"/>
            </div>

            <div class="form-group">
              <label for="inputPasswordConfirmation">Password</label>
              <input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="Password Confirmation" required
              th:field="*{passwordConfirmation}" th:class="${#fields.hasErrors('passwordConfirmation')} ? 'field-error'"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</body>
</html>