<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
    <div layout:fragment="content" class="container">
        <div class="float-right mb-2">
            <a class="btn btn-primary" href="form.html" 
            th:href="@{/users/(form)}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Create User</a>
        </div>

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Created on</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                
                <tr th:if="${users.empty}">
                    <td colspan="4">No users</td>
                </tr>
                <tr th:each="user : ${users}">
                    
                    <td th:text="${user.firstName}"> First Name </td>
                    <td th:text="${user.lastName}"> Last Name </td>
                    <td th:text="${user.email}"> Email </td>
                    <td th:text="${#calendars.format(user.created)}"> July 11, 2012 2:17:16 PM CDT </td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="...">
                            <a class="btn btn-secondary" th:href="@{'/users/' + ${user.id}}">view</a> 
                            <a class="btn btn-secondary" th:href="@{'/users/modify/' + ${user.id}}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">edit</a>
                            <a class="btn btn-secondary" th:href="@{'/users/delete/' + ${user.id}}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">delete</a>
                        </div>
                    </td>
                </tr>
             
            </tbody>
          </table>
    </div>
</body>
</html>
