<!DOCTYPE html>

<html>

<head th:fragment="headerFiles">
  <title>User-Manager-API</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>

<body>
  <header th:fragment="header" class="mb-3">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">User-Manager</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/" th:href="@{/users}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <a class="nav-link" href="/h2-console" th:href="@{/h2-console}">H2-Console</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <a class="nav-link" href="/swagger-ui" th:href="@{/swagger-ui.html}">Swagger UI</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/profile}">Hi, <span
                sec:authentication="principal.username">Bob</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</body>

</html>