<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/header::headerFiles">
    <title>Layout</title>
</head>
<body>
    <div class="container">
        <header class="mb-3" th:insert="fragments/header::header">
            Header
        </header>
        <div layout:fragment="content">
            Some content
        </div>
    </div>
    <footer th:replace="fragments/footer::footer">
        <p>&copy; 2020 Servan Fichet</p>
    </footer>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>