<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Login Page</title>
	<!-- Bootstrap core CSS -->
  	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link href="../static/fontawesome-free-5.13.0-web/css/all.css"  rel="stylesheet" th:href="@{/fontawesome-free-5.13.0-web/css/all.css}" />
	<link href="../static/css/loginPage.css" type="text/css" rel="stylesheet" th:href="@{/css/loginPage.css}"/>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>

	<div class="container">
		<div class="row">
		  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
			  <div class="card-body text-center">
				<img class="mb-4" src="../apple-touch-icon.png" alt="" width="72" height="72">
				<h5 class="card-title">Sign In</h5>
				<form th:action="@{/doLogin}" method="post" class="form-signin">

					<div th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" class="alert alert-danger">Login Error</div>
					<div th:if="${message}" th:text="${message}" class="alert alert-success">Message</div>
					<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger">Error Message</div>
					<div th:if="${param.logout}" class="alert alert-success">You have been logged out.</div>

				  <div class="form-label-group">
					<input class="form-control" id="username" type="text" name="username" placeholder="Email" autofocus required/>
					<label for="username">Email address</label>
				  </div>
	
				  <div class="form-label-group">
					<input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
					<label for="password">Password</label>
				  </div>
				 
				  <div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="remember" name="remember" value="true">
					<label class="custom-control-label" for="remember">Remember me</label>
				  </div>

				  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
				  <hr class="my-4">
				  <a class="btn btn-block" th:href="@{/signup}">Sign Up</a>
				  <p class="mt-5 mb-3 text-muted">User Manager API - &copy; 2020 Servan Fichet</p>
				</form>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>